#body{
    background-color: #ecf4f3;
}

#logo{
    width: 25vw;
}

#motor_busqueda{
    margin-top: 3vw;
    padding: 1vw;
    background-color: #76DBD1;
}

#cuerpo2{
    border-radius: 10px;
    border: 10px solid #57A99A;
    padding-top: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #76DBD1;   
}

#resultadosHoteles{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formhoteles{
    background-color: #57A99A;
    border-radius: 5px;
    border: 2px solid #D1EECC;
}

.btn{
    background-color: #D1EECC !important;
    color: #05473b !important;
    border: 3px solid #76DBD1 !important;
}



.cartaGrande{
    border: 10px solid #D1EECC;
    border-radius: 10px;
}

#cuerpo{
    border-radius: 10px;
    margin: 20px;
    background-color: #9ed8d2;
    box-shadow: 1px 2px 2px 2px #000000ab;
}

.flechacarousel{
    background-color: transparent !important;
}

#formBuscador{
    border: 3px solid #D1EECC;
    border-radius: 10px;
    padding: 20px;
    background-color: #57A99A;
}

#titulomotor{
    color: white;
    font-size: 3vw;
}

.botonMotor{
    color: white !important;
    background-color: transparent !important;
    font-size: 1.3vw;
   
}

.botonMotor[aria-selected="false"]{
    
    color: rgba(255, 255, 255, 0.822) !important;
    background-color: transparent !important;
    font-size: 1.3vw;
}
.botonMotor[aria-selected="true"]{
    font-weight: bold;
}

.textForm{
    color: white ;
    font-weight: lighter;
    font-size: 1.1vw;
}



.ubicacion{
    display: grid;
    grid-template-columns: 16px auto;
}

.ubicacion p{
    margin-left: 3%;
    color: rgba(0, 0, 0, 0.600);
}

/* COLOR PARA LAS ESTRELLAS */
.checked{
    color: orange;
}

.cartas{
    height: 26rem;
    background-color: #ECF4F3 !important;
}

.precio h5{
    color: black;
}

.precio p{
    color: rgba(0, 0, 0, 0.600);
}

.a{
    color: rgb(22, 22, 22);
    text-decoration: none;
}

.a:hover{
    color: rgb(22, 22, 22);
    text-decoration: underline;
}

.botonesN {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.botonesP {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.botonesN:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.botonesP:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


.modalDeCarta{
    color: black;
    text-decoration: none;
    padding-left: 7% !important;
    padding-right: 0px !important;
}

.modalDeCarta :hover{
    color: black;
}

.modal-title{
    color: #57A99A !important;
}

.modal-body{
    color: #57A99A !important;
}

.estrellas{
    pointer-events: none;
}

#carouselExampleControls > button{
    background-color: white;
    border: none;
}

.aerolineaImg{
    margin-left: px;
    height: 15vw;
}

.hora{
    font-size: 2vw;
}
.lugar{
    font-size: 2vw;
}
.duracion{
    font-size: 1vw;
}
.infoVuelo{
   margin-top: 4vw !important; 
}

#vuelos{
    padding: 50px o !important;
    box-shadow: 1px 2px 2px 2px #000000ab;
    border-radius: 10px;
    background-color: #57A99A;
}

.vuelo{
    border: solid 2px #ECF4F3;
    background-color: #D1EECC;
    
}

#resultadosVuelos{
    margin-top: 10px;
    padding: 50px;
}

.divprecio{
    background-color: #ECF4F3;
}

.cartasgrandes{
    width: 18rem !important;
    background-color: #57A99A !important;
}



.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

#map{
    margin: 8px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.185);
    box-shadow: 1px 2px 2px 2px #000000ab;
}

.imgFlecha{
    margin-top: 12px;
    height: 5vw;   
}

#titulohoteles{
    width: 98vw;
    color: white;
    font-size: 3vw;
    background-color: #57A99A;
}

footer{
    background-color: #76DBD1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

@media (max-width: 1920px){
    .items{
        margin-left: -5%;
    }

    .card{
        width: 16rem !important;
    }

    .precio{
        grid-template-columns: 30% 40%;
    }

    .carousel-control-prev-icon{
        margin-right: 5%;
    }

    .carousel-control-next-icon{
        margin-left: -5%;
    }
}

@media (max-width: 1200px){
    .items{
        margin-left: -5%;
    }

    .card{
        width: 13rem !important;
    }

    .precio{
        grid-template-columns: auto;
    }

    .carousel-control-next-icon{
        margin-left: 20%;
    }
    .carousel-control-prev-icon{
        margin-left: -20%;
    }
}

@media (max-width: 992px){
    .items{
        margin-left: 3%;
    }
    .c3{
        visibility: hidden;
    }
    .card{
        width: 12rem !important;
    }
    .carousel-control-next-icon{
        margin-left: -120px;
    }
    .carousel-control-prev-icon{
        margin-left: 70%;
    }
}

@media (max-width: 768px){
    .carrusel{
        justify-content: center;
    }
    .carousel-control-next-icon{
        margin-left: 20%;
    }
    .carousel-control-prev-icon{
        margin-left: -8%;
    }
    

    .vuelo{
        height: 26vw;
    }

    .aerolineaImg{
        height: 23vw;
    }
    
    .hora{
        font-size: 3vw;
    }
    .lugar{
        font-size: 3vw;
    }
    .duracion{
        font-size: 2vw;
    }
    .infoVuelo{
       margin-top: 6vw !important; 
    }

    .modalDeCarta{
        padding-left: 4% !important;
        padding-right: 0px !important;
    }

    
}

@media (max-width: 576px){
    .carousel-control-next-icon{
        margin-left: 4%;
    }

    .modalDeCarta{
        padding-left: 34% !important;
        padding-right: 0px !important;
    }

}


/* Cartas hoteles en busqueda*/

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");


.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-striked {
	text-decoration: line-through;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06) !important;
}

.hotel-card .hotel-card_images {
	flex: 2;
}
.hotel-card .hotel-card_images .carousel-item img {
	height: 250px;
	object-fit: cover;
}
@media (min-width: 992px) {
	.hotel-card .hotel-card_images .carousel-item img {
		height: 100%;
	}
}

.hotel-card .hotel-card_info {
	flex: 3;
}

.hotel-card .amnities img {
	max-height: 20px;
}

.hotel-card .hotel-checklist {
	list-style-type: none;
}

.carousel .carousel-control-prev {
	background: linear-gradient(to right, #333333bb, #33333300);
}

.carousel .carousel-control-next {
	background: linear-gradient(to left, #333333bb, #33333300);
}
