body{
    background-color: #ECF4F3 !important;
    color: #ECF4F3 !important;
}

.container{
    margin-top: 1%;
    background-color: #57A99A !important;
    border-radius: 2%;
    color: #ECF4F3 !important;
}


header > nav{
    background-color: #57A99A !important;
    border-top-left-radius: 7% !important;
    border-top-right-radius: 7% !important;
}

header > nav > div > a{
    font-size: xx-large !important;
    font-weight: bold;
    color: #ECF4F3 !important;
}

button{
    background-color: #ECF4F3 !important;
    border-color: #ECF4F3 !important;
    color: rgb(70, 69, 69) !important;
}

button:hover{
    background-color: #76DBD1 !important;
    color: black !important;
}

.vuelo > div{
    background-color: #57A99A !important;
}

.ubicacion{
    display: grid;
    grid-template-columns: 16px auto;
}

.ubicacion p{
    margin-left: 3%;
    color: rgba(0, 0, 0, 0.600);
}

/* COLOR PARA LAS ESTRELLAS */
.checked{
    color: orange;
}

.cartas{
    height: 26rem;
    background-color: #ECF4F3 !important;
}

.precio h5{
    color: black;
}

.precio p{
    color: rgba(0, 0, 0, 0.600);
}

.cartas{
    width: 18rem;
}

.a{
    color: rgb(22, 22, 22);
    text-decoration: none;
}

.a:hover{
    color: rgb(22, 22, 22);
    text-decoration: underline;
}

#carouselExampleControls > button{
    background-color: #57A99A !important;
}

.botonesN {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.botonesP {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.botonesN:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.botonesP:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


.modalDeCarta{
    color: black;
    text-decoration: none;
}

.modalDeCarta :hover{
    color: black;
}

.modal-title{
    color: #57A99A !important;
}

.modal-body{
    color: #57A99A !important;
}

.estrellas{
    pointer-events: none;
}

#carouselExampleControls > button{
    background-color: white;
    border: none;
}

@media (max-width: 1920px){
    .items{
        margin-left: -5%;
    }

    .card{
        width: 16rem !important;
    }

    .precio{
        grid-template-columns: 30% 40%;
    }

    .carousel-control-prev-icon{
        margin-right: 5%;
    }

    .carousel-control-next-icon{
        margin-left: -5%;
    }
}

@media (max-width: 1200px){
    .items{
        margin-left: -5%;
    }

    .card{
        width: 13rem !important;
    }

    .precio{
        grid-template-columns: auto;
    }

    .carousel-control-next-icon{
        margin-left: 20%;
    }
    .carousel-control-prev-icon{
        margin-left: -20%;
    }
}

@media (max-width: 992px){
    .items{
        margin-left: 3%;
    }
    .c3{
        visibility: hidden;
    }
    .card{
        width: 12rem !important;
    }
    .carousel-control-next-icon{
        margin-left: -120px;
    }
    .carousel-control-prev-icon{
        margin-left: 70%;
    }
}

@media (max-width: 768px){
    .carrusel{
        justify-content: center;
    }
    .carousel-control-next-icon{
        margin-left: 20%;
    }
    .carousel-control-prev-icon{
        margin-left: -8%;
    }
}

@media (max-width: 576px){
    .carousel-control-next-icon{
        margin-left: 4%;
    }


}